/* object-fit  to keep the aspect ratio */
.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right : 18px;
    color: gray;
    cursor: pointer;
    /* border: solid blue; */
}

.headerOption:hover{
    color: black;
}

.headerOption__icon{
    object-fit: contain;
    height:30px !important;
    width:30px !important;
}
.headerOption__title{
    font-size:12px;
    font-weight:400;
}