.InputOption{
    display:flex;
    align-items:center;
    margin-top:5px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.InputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;

}